@using BethanysPieShopHRM.Shared;
<div id="sidebar-wrapper">
    <div class="sidebar-logo center-image">
        <img class="img-responsive" id="logo" src="/images/kyllingogco-logo-lys.svg" />
    </div>
    <div class="profile-picture">
        <img class="img-responsive" src="/images/Kylling_og_Co_2021-03-11_13664-1-1024x1024.jpg" />
    </div>
    <div class="menu list-group list-group-flush">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <NavLink href="/">
                        <span class="font-heading">Home</span>
                    </NavLink>
                </li>
                <li>
                    <a @onclick="(() => ToggleNav1(1))" data-toggle="collapse" class="dropdown-toggle"><span class="font-heading">Tasks</span></a>
                    <ul class="list-unstyled sub-menu @( this.IsHidden1 ? "toggle-hide": "toggle-show")" id="tasks">
                        <li>
                            <NavLink href="/tasks">
                                View tasks
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/taskedit">
                                Add new task
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a @onclick="(() => ToggleNav1(2))" data-toggle="collapse" class="dropdown-toggle"><span class="font-heading">Employee</span></a>
                    <ul class="list-unstyled sub-menu @( this.IsHidden2 ? "toggle-hide": "toggle-show")" id="employees">
                        <li>
                            <NavLink href="/employeeoverview">
                                View Employees
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/employeeedit">
                                Add new employee
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a @onclick="(() => ToggleNav1(3))" data-toggle="collapse" class="dropdown-toggle"><span class="font-heading">Opportunities</span></a>
                    <ul class="list-unstyled sub-menu @( this.IsHidden3 ? "toggle-hide": "toggle-show")" id="jobs">
                        <li>
                            <NavLink href="/jobs">
                                Jobs
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/jobedit">
                                New job
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a @onclick="(() => ToggleNav1(4))" data-toggle="collapse" class="dropdown-toggle"><span class="font-heading">Expenses</span></a>
                    <ul class="list-unstyled sub-menu @( this.IsHidden4 ? "toggle-hide": "toggle-show")" id="training">
                        <li>
                            <NavLink href="/expenses">
                                Expenses
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/expenseedit">
                                New Expense
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a @onclick="(() => ToggleNav1(5))" data-toggle="collapse" class="dropdown-toggle"><span class="font-heading">Feedback</span></a>
                    <ul class="list-unstyled sub-menu @( this.IsHidden5 ? "toggle-hide": "toggle-show")" id="feedback">
                        <li>
                            <NavLink href="/surveys">
                                Surveys
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/surveyedit">
                                New Survey
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a @onclick="(() => ToggleNav1(6))" data-toggle="collapse" class="dropdown-toggle">Schedule</a>
                    <ul class="list-unstyled sub-menu @( this.IsHidden6 ? "toggle-hide": "toggle-show")" id="schedule">
                        <li>
                            <NavLink href="/Schedule">
                                Schedule
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/">
                                Add new shift
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <NavLink href="/staffdirectory">
                        <span class="font-heading">Staff Directory</span>
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</div>

@code {

    public bool IsHidden1 { get; set; } = true;
    public bool IsHidden2 { get; set; } = true;
    public bool IsHidden3 { get; set; } = true;
    public bool IsHidden4 { get; set; } = true;
    public bool IsHidden5 { get; set; } = true;
    public bool IsHidden6 { get; set; } = true;

    public void ToggleNav1(int navId)
    {
        switch (navId)
        {
            case 1:
                IsHidden1 = !IsHidden1;
                break;
            case 2:
                IsHidden2 = !IsHidden2;
                break;
            case 3:
                IsHidden3 = !IsHidden3;
                break;
            case 4:
                IsHidden4 = !IsHidden4;
                break;
            case 5:
                IsHidden5 = !IsHidden5;
                break;
            case 6:
                IsHidden6 = !IsHidden6;
                break;

        }

    }
}