@page "/shiftdetail/{date:datetime}"
@using BethanysPieShopHRM.Shared.Models;
@using BethanysPieShopHRM.Shared.TeamWolfiesClasses;
@using BethanysPieShopHRM.UI.Services;
@inject ScheduleService scheduleService
@inject NavigationManager manager

<h3>@CurrentDay.Date.DayOfWeek @CurrentDay.Date.ToString("dd/MM") </h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Employee
            </th>
            <th>
                Shift Start
            </th>
            <th>
                Shift End
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (CurrentDay.Schedules.Count > 0)
        {
            @foreach (Schedule schedule in CurrentDay.Schedules)
            {
                <tr>
                    <td>
                        @schedule.EmployeeId
                    </td>
                    <td>
                        @schedule.ShiftStart.ToString(@"hh\:mm")
                    </td>
                    <td>
                        @schedule.ShiftEnd.ToString(@"hh\:mm")
                    </td>
                    <td>
                        <EditScheduleModal Title="EditShift">
                            <EditShift Schedule="schedule"></EditShift>
                        </EditScheduleModal>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



@code {
    CalendarDay CurrentDay { get; set; } = new CalendarDay();

    [Parameter]
    public DateTime Date { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        CurrentDay.Schedules = await scheduleService.GetSchedulesFromDate(Date);
        await base.OnParametersSetAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
